@charset "UTF-8";

#work_category_tbl{
	/* Edgeのth幅指定不能防止 */
	table-layout: fixed;
}

#work_category_tbl thead .note{
	width:200px;
}

.form_detail_e{
	display:none;
}

.form_detail_n{
	display:none;
}